:root {
  --text-color: #2c3e50;
  --button-color: #42b983;
}

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 2em;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.swatch {
  width: 4em;
  height: 4em;
  display: inline-block;
  margin: 0.5em;
  border: 2px ridge currentColor;
}

h1 {
  margin: 0;
}

main {
  color: var(--text-color);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

button {
  appearance: none;
  cursor: pointer;
  background: var(--button-color);
  color: var(--text-color);
  border: 2px outset var(--button-color);
  padding: 0.5em 1em;
}

button:hover {
  color: color-mix(in srgb, var(--text-color), #fff 20%);
  background: color-mix(in srgb, var(--button-color), #000 20%);
}

button:active {
  border-style: inset;
}

.controls {
  margin: 1em;
}
